.container
  .show-task-box  
    %h2.task-title 
      = @task.title
    -if current_user&.task_written?(@task)
      .dropdown-box
        .dropdown
          = image_tag 'edit.png', class: 'edit-icon' 
          .dropdown-content-box
            = link_to '編集', edit_board_task_path(board_id: @task.board_id, id: @task.id ),class: 'dropdown-content'
            = link_to '削除', board_task_path(board_id: @task.board_id, id: @task.id),data:{ method: 'delete', confirm: '本当に削除してもよろしいですか？', class: 'dropdown-content'}
    - if @task.eyecatch.attached?
      .show-image
        = image_tag @task.eyecatch
    .show-content-box
      .show-content
        = @task.content
  %h3.comment-title コメント一覧
  - @comments.each do |comment|
    .comment-box
      .comment-user-image
        = image_tag comment.user.user_avatar, class: 'icon'
      .comment-content
        = comment.content
  - if user_signed_in?
    .add-task
      = link_to new_board_task_comment_path(board_id: @task.board_id, task_id: @task.id) do
        .add-task-content
          + Add new comment