.container
  %h2.board-title All Boards
  - @boards.each do |board|
    .board
      .board-content
        .board-title
          = board.title
        .board-content
          = board.content
        .board-icon
          = image_tag 'default-avatar.png', class: 'board-icon'
        .edit-icon
          = image_tag 'edit.png', class: 'edit-icon'
      
  - if user_signed_in?
    .add-board
      = link_to("+ Add new board",new_board_path, {class: "add-board-content"})
  - else
    %p ログインしてください




