.container
  %h2.task-title
    = @board.title
  - @tasks.each do |task|   
    =link_to board_task_path(board_id: task.board_id, id: task.id) do
      .task
        .task-content-box
          - if task.eyecatch.attached?
            .task-image-box
              = image_tag task.eyecatch, class: 'task-image'
          .task-title
            = task.title
          .task-content
            = task.content
          .task-icon-box
            = image_tag task.user.user_avatar, class: 'task-icon', alt: 'アイキャッチ画像です'
  - if user_signed_in?
    .add-task
      = link_to new_board_task_path(@board) do
        .add-task-content
          + Add new tasks
